{% extends 'plant.html' %}

{% block titulo %}
<div class="row">
	<div class="col-md-12">
		<br>
		<center><h2>Diazstone</h2></center>
	</div>
</div>
{% endblock %}

{% block contenido %}
<div class="row">
	<div class="col-md-12">
		<br>
		<center><h4>Diazstone es nuestro intento de proyecto web, en el cual diseñamos un jueguito de cartitas, donde uno selecciona sus cartas y luchan de manera automatica contra otro mazo de otro jugador, además se incluirá sistema de sobresitos para obtener más cartitas y para que el vicio del azar aparesca.</h4></center>
	</div>
</div>

<div class="row">
	<div class= "col-md-5">
		<center><h4>¿Quienes somos?</h4></center>
		<br>
	</div>
</div>
		
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-2">
		<center><img src="/media/gabo.png" width ="150px"></img></center>
	</div>
	<div class = "col-md-9">
		<h5>El Gabo AKA Mryhatoh: Estudiante de 3ero que realiza 2 ayudantias al semestre para comprar carton en la recicladora<h5>
		<h5>Juego preferido: Super Mario Sunshine, PB 120 actual 5:32:43</h5>
		<h5><a href="https://www.twitch.tv/mryhatoh">Canal de twitch</a><h5>
		<h5>Dato random: Ta jalaisimo para la u<h5>
	</div>																														
</div>
<br>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-2">
		<center><img src="/media/jorge.png" width ="150px"></img></center>
	</div>
	<div class = "col-md-9">
		<h5>Jorge AKA El yorko: Estudiante de 3ero que realiza 2 ayudantias porque come como chancho<h5>
		<h5>Juego preferido: el lolsito, Horas jugadas: 1203 (50 dias(stone))</h5>
		<h5><a href="https://i.kym-cdn.com/entries/icons/facebook/000/000/260/youjustlost.jpg">Click me if you dare</a><h5>
		<h5>Dato random: 42<h5>
	</div>																														
</div>

<div class="row">
	<div class="col-md-12">
		<center><a href="http://diazstone.jorgediaz.site/home/"><button href="http://diazstone.jorgediaz.site/home/" class="btn btn-outline-secondary">Home</button></a></center>
	</div>
</div>

{% endblock %}
